
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font: 16px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 12px;
}


button {
  cursor: pointer
}
